
/* Text color */

$commonButTextClr: #fff;
$sideBarTextClr: #fff;
$commonDarkTextColor: #3F3F3F;
$secondaryDarkColor: #60646D;
$secondaryDarkColor: #5a5a5a;
$errorColor: #e74c3c;
$secondaryRed: #FF6766;
$popInputColor: #1BBC9B;
$primaryGreen: #1ABC9C;
$secondaryGreen: #64DDBB;
$primaryBlue: #47D2E9;
$secondaryBlue: #3D8EB9;
$primaryGrey: #e2e2e2;
$secondaryGreey: #9E9D9B;
$tertiaryGrey: #F6F7F2;
$fourthGrey: #E7E7E7;
$primaryOrange: #F29B34;
$primaryViolet: #8870FF;

  // Background Color

$whiteBackground: #fff;
$sideBarColor: #1C2021;
