<div class = "wideViewContainer">

    <div class = "dashboardContainer">

        <header class = "statsHeader">

          <section class = "statsBox userStats">

                  <div class = "statsHead">
                      <div class = "statsIconBox">
                        <img src = "app-resources/imgs/dashUsers.png" />
                      </div>

                      <div class = "statsValue">
                          <span>500</span>
                      </div>
                  </div>

                  <div class = "statsDesc">
                      <span>Users</span>
                  </div>

          </section>

            <section class = "statsBox articleStats">

                    <div class = "statsHead">
                        <div class = "statsIconBox">
                          <img src = "app-resources/imgs/dashUsers.png" />
                        </div>

                        <div class = "statsValue">
                            <span>100</span>
                        </div>
                    </div>

                    <div class = "statsDesc">
                        <span>Users</span>
                    </div>

            </section>

            <section class = "statsBox categoryStats">

                    <div class = "statsHead">
                        <div class = "statsIconBox">
                          <img src = "app-resources/imgs/dashUsers.png" />
                        </div>

                        <div class = "statsValue">
                            <span>100</span>
                        </div>
                    </div>

                    <div class = "statsDesc">
                        <span>Users</span>
                    </div>

            </section>

            <section class = "statsBox questionStats">

                    <div class = "statsHead">
                        <div class = "statsIconBox">
                          <img src = "app-resources/imgs/dashUsers.png" />
                        </div>

                        <div class = "statsValue">
                            <span>100</span>
                        </div>
                    </div>

                    <div class = "statsDesc">
                        <span>Users</span>
                    </div>

            </section>

        </header>

    </div>

</div>
