<header class = "mainHeader">
    <div class = "mainHeaderBox">

        <div class = "searchContainer">
            <form class = "wideSearchForm">
                <div class = "searchBox">
                    <input class="form-control" type = "text" ng-model = "wideSearch" placeholder = "Search">
                </div>

                <div class = "wideSearchButton">
                    <button type = "submit" class="btn btn-light" ng-click = "goSearch()"><span class = "glyphicon glyphicon-search"></span></button>
                </div>

            </form>
        </div>

        <div class = "notificationBox">

        </div>

    </div>
</header>

<div class = "wideViewContainer">

    <div class = "myArticleContainer new-articles">

       <div class = "countSearchBox">

           <div class = "dataCountBox">

               <span>{{numberOfDraftArticle}} Draft Article</span>

           </div>

           <div class = "searchBox">

               <input type = "text" id = "searchNewArticle" placeholder = "Search new articles"/>

           </div>

       </div>

        <div class = "myArticles" ng-repeat = "draftArticle in draftArticles">

            <div class = "myArticleTitleBox">

                <span ng-click = "updateDraftArticle(draftArticle.draftArticleId)">{{draftArticle.title}}</span>

            </div>


            <div class = "myArticleDetailsBox">

                <div class = "myArticleCategoryTypeBox">

                    <span>{{draftArticle.category}}</span>

                </div>

            </div>

        </div>

    </div>

</div>
